
.body{
    font-family: 'DM Sans', sans-serif;
}

.container{
        width: 1070px;
        margin: 0 auto;
}

.header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.header_flex, .footer_flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_li{
    display: inline-block;
    margin-left: 49px;
}
.nav_li:not(:first-of-type){
    margin-left: 49px;
}

.nav_link{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.nav_link:hover{
    color: #000000;
    transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.468947px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button_orange{
    background: #FF7143 ;
}
.button_orange:hover{
    background: #f15f2e ;
    transition: 500ms;
}

.about{
        margin: 105px auto 85px;
}
.about_title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-bottom: 50px;
}

.button_violet{
    background: #5454D4;
    margin-right: 30px;
}

.button_transparent{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
}

.button_violet:hover{
    background: #141496 ;
    transition: 500ms;

}
.button_transparent:hover{
    transition: 300ms;
    border: 2px solid #141496;
}

.footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 53px 0;
}

